@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300;1,900&display=swap');

body, h1{
    margin:0;
    padding:0;
}

.background{
    background-image: url(./assets/background.jpg);
    background-size: cover;
    box-shadow:inset 0 0 0 2000px rgba(32, 28, 30, 0.53);
    background-color: #CAB8FF;
    height: 100vh;
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header{
    text-align: center;
    color: rgb(255, 255, 255);
}

#title{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 900;
}

#subtitle{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 25px;
}

#table-title{
    border-radius: 10px;
    width: 10%;
    display:flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: #F9F9F9;

}